header {
    background-color: rgb(42, 223, 42);
    box-shadow: inset 0 0 4px rgba($color: #000000, $alpha: 1.0);
    padding: 10px;
    nav, article {
        box-shadow: inset 0 0 4px rgba($color: #000000, $alpha: 1.0);
    }
}