section {
    background-color: rgb(127, 104, 189);
    box-shadow: inset 0 0 4px rgba($color: #000000, $alpha: 1.0);
    padding: 10px;
    div, article, aside {
        padding: 10px;
        box-shadow: inset 0 0 4px rgba($color: #000000, $alpha: 1.0);
    }
}